@import '../../scss/variables';
.pagination {
  display: flex;
  justify-content: center;
  font-size: $font-extra-min;
  li {
    list-style-type: none;
    cursor: pointer;
    a {
      display: flex;
      justify-content: center;
      align-self: center;
      border: 1px solid $white-background;
      line-height: 38px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      color: $white;
      &:hover {
        background-color: $red;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: $red;
      }
    }
  }
}
