.anime {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid $gray;
  position: relative;

  & span {
    color: $white;
  }
  &__image {
    border-radius: 20px;
  }
  &__info {
    &__title {
      font-size: $font-standart;
      & > span {
        color: $gray;
      }
      margin-bottom: 20px;
    }
    &__year {
      font-size: $font-min;
      color: $gray;
      margin-bottom: 10px;
    }
    &__season {
      font-size: $font-min;
      color: $gray;
      margin-bottom: 10px;
    }
    &__genre {
      font-size: $font-min;
      color: $gray;
      margin-bottom: 10px;
    }
    &__synopsis {
      font-size: $font-min;
      color: $gray;
    }
  }

  &--mask {
    background-color: $white-background;
    font-size: $font-extra-min;
    color: $white;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    &__item {
      cursor: pointer;
      padding: 5px 10px;

      border-radius: 8px;
      &:hover {
        color: $red;
      }
    }
    &__item:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  &:hover {
    .anime--mask {
      opacity: 1;
      visibility: visible;
    }
  }
}
