.anime {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid $gray;
  position: relative;

  @media (max-width: 900px) {
    grid-template-columns: none;
  }
  & span {
    color: $white;
  }
  &__image {
    border-radius: 20px;
  }
  &__info {
    &__title {
      font-size: $font-standart;
      & > span {
        color: $gray;
      }
      margin-bottom: 20px;
    }
    &__item {
      font-size: $font-min;
      color: $gray;
      margin-bottom: 10px;
    }
    &__item {
      font-size: $font-min;
      color: $gray;
      margin-bottom: 10px;
    }
    &__item {
      font-size: $font-min;
      color: $gray;
      margin-bottom: 10px;
    }
    &__item {
      font-size: $font-min;
      color: $gray;
      margin-bottom: 10px;
    }
    // &__more {
    //   padding: 15px 20px;
    //   border: 1px solid $red;
    //   text-align: center;
    //   border-radius: 8px;
    //   transition: $duration;
    //   &:hover {
    //     cursor: pointer;
    //     color: $red;
    //   }
    // }
  }

  &--mask {
    background-color: $white-background;
    font-size: $font-extra-min;
    color: $white;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: flex;
    pointer-events: none;
    flex-direction: column;
    &__item {
      cursor: pointer;
      padding: 5px 10px;

      border-radius: 8px;
      &:hover {
        color: $red;
      }
    }
    &__item:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  &:hover {
    .anime--mask {
      pointer-events: auto;
      opacity: 1;
      visibility: visible;
    }
  }
}
