.header {
  height: 70px;

  font-size: $font-super;
  background-color: $gray-background;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  user-select: none;
  @media (max-width: 900px) {
    display: none;
  }
  &--wrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    & span {
      color: $red;
    }
  }

  &__right {
    display: flex;

    &__ico {
      height: 40px;
      width: 40px;
      border-radius: 50%;

      & img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
    }
  }

  @media (max-width: 600px) {
    &__logo {
      display: none;
    }
  }
}
