.input {
  background-color: $white-background;
  border: none;
  outline: none;
  padding: 10px 25px;
  color: $white;

  &--wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--header {
    border-radius: 20px;
    margin-right: 55px;
    width: 220px;
    transition: $duration;
    &:focus {
      box-shadow: 0px 0px 8px 2px $red;
    }
  }

  &--main__top {
    width: 200px;
    border-radius: 8px;
  }
}

.search {
  position: absolute;
  left: 5px;
}
