@import '../../scss/variables';
.header {
  height: 70px;
  font-size: $font-super;
  background-color: $gray-background;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  user-select: none;
  &__wrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__nav {
      margin-right: 100px;
      cursor: pointer;
      align-items: center;
      display: flex;
      transition: $duration;
      &__item:not(:last-child) {
        margin-right: 25px;
      }
      &__item {
        &:hover {
          color: $red;
        }
      }
    }
    & span {
      color: $red;
    }
  }

  &__right {
    display: flex;

    &__ico {
      height: 40px;
      width: 40px;
      border-radius: 50%;

      & img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
    }
  }
  @media (max-width: 530px) {
    .header__logo span {
      display: none;
    }
    .header__right__ico {
      display: none;
    }
  }
  @media (max-width: 680px) {
    width: 400px;
  }
}
