$black: #232323;

$background: #222222;
$gray-background: #333333;
$white-background: #545454;

$red: #ae3333;
$white: #f7f5f6;
$duration: 0.15s;

$font-min: 26px;
$font-standart: 31px;
$font-big: 34px;
$font-super: 40px;
