$black: #232323;

$background: #222222;
$gray-background: #333333;
$white-background: #545454;

$red: #ae3333;
$gray-red: #fb6963;

$white: #ffffff;
$gray: #c9c9c9;

$fast-duration: 0.15s;
$duration: 0.2s;
$slowly-duration: 0.5s;

$font-extra-min: 14px;
$font-min: 18px;
$font-standart: 28px;
$font-super: 38px;
$font-extra-super: 48px;
