$black: #232323;

$background: #222222;
$gray-background: #333333;
$white-background: #545454;

$red: #ae3333;
$gray-red: #fb6963;

$white: #f7f5f6;

$fast-duration: 0.15s;
$duration: 0.2s;
$slowly-duration: 0.5s;

$font-min: 20px;
$font-standart: 30px;
$font-super: 40px;
