@import './variables';
@import './components/app';

body {
  margin: 0;
  cursor: default;
  background-color: $background;
  font-family: Bangers, Roboto;
  letter-spacing: 2px;
  font-size: $font-standart;
}

.wrapper {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  @media (max-width: 1200px) {
    width: 90%;
  }
  @media (max-width: 920px) {
    width: 100%;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
